RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^weather$ ./weather.php
RewriteRule ^weather\/([a-zA-z)]+)?$ weather.php?a=$1 [L,QSA]
RewriteRule ^erase$ ./erase.php
RewriteRule ^test$ ./test.php
